@use 'partials/fonts';
@use 'partials/vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----section styling----*/
section {
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.section-1 {
  background-image: url(/static/svgs/number1.svg);
  background-repeat: no-repeat;
  background-position: 8vw 2vw;
  background-size: 200px;
}
.section-2 {
  background-image: url(/static/svgs/number2.svg);
  background-repeat: no-repeat;
  background-position: 8vw 2vw;
  background-size: 320px;
}
.section-3 {
  background-image: url(/static/svgs/number3.svg);
  background-repeat: no-repeat;
  background-position: 8vw 2vw;
  background-size: 320px;
}

.section2-top-left,
.section2-bottom-left,
.section2-bottom-right {
  height: 25vw;
}
.section2-top-right {
  height: 15vw;
  margin-top: 5vw;
}
.section2-bottom-right {
  margin-top: -5vw;
}
.section3-top-left,
.section3-top-right,
.section3-bottom-left,
.section3-bottom-right {
  height: 25vw;
}
.section3-top-right {
  height: 15vw;
  margin-top: 4vw;
}
.section3-top-left {
  padding-top: 10vw;
}
/*--making it responsive--*/
@media only screen and (max-width: 750px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section2-bottom-left,
  .section3-bottom-left {
    display: none;
  }
}
/*-----font styling for section------*/
h2 {
  font-family: GT Walsheim Pro;
  font-weight: 700;
  font-style: normal;
  color: $text-color;
  font-size: 55px;
}
p {
  font-family: GT Walsheim Pro;
  font-weight: 400;
  font-style: normal;
  color: $text-color;
  font-size: 1em;
}
.section2-top-left h2 {
  margin-top: 10vw;
}
.section2-top-left h2,
.section3-top-left h2 {
  margin-left: 10vw;
}
.section2-bottom-right p,
.section2-top-right p {
  padding: 1vw 8vw 1vw 8vw;
}
.section3-bottom-right p,
.section3-top-right p {
  padding: 1vw 8vw 1vw 8vw;
}
