@use 'partials/vars' as *;
@use 'partials/fonts';
@use 'partials/landing';
@use 'partials/burgermenu';
@use 'partials/intro1-2';
@use 'partials/sections';
@use 'partials/form';
@use 'partials/signin-form';
@use 'partials/footer';
@use 'partials/author';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
