@use 'partials/vars' as *;
@use 'partials/fonts';
@use 'partials/burgermenu';
@use 'partials/intro1-2';
@use 'partials/sections';
@use 'partials/footer';
@use 'partials/author';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

footer {
  position: relative;
}

#redirect {
  width: 50vw;
  background-color: white;
  z-index: 10000;
  left: 25vw;
  top: 10vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  position: fixed;
  // align-items: center;
}

#redirect section {
  margin: 0 auto;
  padding: 1rem;
}

.hidePopup {
  display: none;
}
