@use 'partials/vars';

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

#form-container {
  background-color: black;
  max-width: 350px;
  width: 100%;
  button.back {
    color: vars.$bg-color;
    margin-left: 1vw;
  }
  button#submit,
  button.next {
    background-color: vars.$highlight-color;
    text-transform: uppercase;
    text-align: center;
    width: 10vw;
    height: 1.5vw;
    padding: 0.8vw;
    align-self: center;
  }
}
form {
  background-color: vars.$dark-bg-color;
  color: white;
  font-family: vars.$regular-font;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#form-container {
  background-color: black;
}

label {
  cursor: pointer;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

fieldset label,
fieldset input {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

button {
  all: initial;
  display: block;
  cursor: pointer;
  font-family: vars.$bold-font;
}

.invalid {
  border: 2px solid vars.$highlight-color;
}

input + p {
  display: none;
  color: vars.$highlight-color;
}

input.invalid + p {
  display: block;
  font-size: 1vw;
}

#consent {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px;
  width: 6px;
  height: 5px;
  background-color: white;
  display: grid;
  position: relative;
}

#consent:checked::after {
  content: "\2714";
  position: absolute;
  font-size: 14px;
  color: #000000;
  place-self: center;
}
#consent.invalid {
  border: 2px solid red;
}
