@use 'partials/vars';
form {
  //child elm
  //align-self: center;
  background-color: vars.$dark-bg-color;
  color: white;
  font-family: vars.$regular-font;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  //width: 322px;
  width: 276px;
  margin: 0 auto;
}
label {
  cursor: pointer;
  margin-bottom: 2vw;
  p.say-something {
    padding: 3vw 0 3vw 0;
    color: vars.$bg-color;
    font-size: 1vw;
  }
}

input {
  height: 2.5vw;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  border: none;
  p.say-something {
    padding: 3vw 0 3vw 0;
    color: vars.$bg-color;
    font-size: 1vw;
  }
}
fieldset label,
fieldset input {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}

#form-container {
  position: absolute;
  top: 70px;
  left: 65.5vw;
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  width: 400px;
  height: auto;
  padding: 20px;
  button.back {
    color: vars.$bg-color;
    font-family: vars.$regular-font;
    padding: 4vw 0 0 1vw;
    font-weight: 400;
    cursor: pointer;
  }
  button#submit,
  button.next,
  .takemethere {
    // position: absolute;
    // top: 500px;
    // left: 19vw;
    cursor: pointer;
    font-family: vars.$bold-font;
    background-color: vars.$highlight-color;
    text-transform: uppercase;
    text-align: center;
    width: 58vw;
    height: 13vw;
    padding: 0.8vw;
    align-self: center;
    font-weight: 700;
  }

  .takemethere {
    color: #000000;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-decoration: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.invalid {
  border: 2px solid vars.$highlight-color;
}

input + p {
  display: none;
  color: vars.$highlight-color;
}

input.invalid + p {
  display: block;
  font-size: 2.8vw;
}
#consent {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px;
  width: 6px;
  height: 5px;
  background-color: white;
  display: grid;
  position: relative;
}
#consent:checked::after {
  content: "\2714";
  position: absolute;
  font-size: 14px;
  color: #000000;
  place-self: center;
}
#consent.invalid {
  border: 2px solid red;
}

#done_signup {
  // visibility: hidden;
  place-self: center;
  //margin: 26vw 0 0 9vw;
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: center;
  p.alldone_text {
    color: vars.$bg-color;
    font-family: vars.$regular-font;
    place-self: center;
  }
}

#form-container {
  button.next,
  button#submit,
  .takemethere {
    height: 1.5vw;
    width: 13vw;
  }
  button.back {
    padding: 2vw 0 0 1vw;
  }
}
fieldset {
  margin: 1vw;
}
label {
  margin-bottom: 1vw;
}
input.invalid + p {
  font-size: 0.8vw;
}

@media only screen and (max-width: 1050px) {
  #form-container {
    top: 73px; //before 100px
    left: 50vw;
  }
  input {
    height: 4vh;
  }
}
@media only screen and (max-width: 950px) {
  #form-container {
    top: 200px;
    left: 0;
    width: 100%;
    height: 470px;
    button.back {
      padding: 0 0 0 0;
    }
    form#main-form {
      margin-left: 1vw;
      margin-right: 1vw;
      input {
        height: 4vh;
      }
    }
    button.next,
    button#submit,
    button#submit2,
    .takemethere {
      //height: 5vw;
      height: 10vw;
      width: 36vw; //20vw before
    }
  }
  fieldset {
    p.say-something {
      font-size: 4vw;
    }
  }

  input.invalid + p {
    display: block;
    font-size: 3vw;
  }
}

#progress {
  width: 90%;
  margin: 0 auto;
  padding: 0.8vw 0 0 0;
}
