@use 'partials/fonts';
@use 'partials/vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/*----------section styling-----------*/
.sections-main {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
.sections-main section {
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // height: 100vh;
  overflow: hidden;
}

#text-sections {
  display: flex;
  flex-direction: column;
}

#text-sections section {
  padding-bottom: 5rem;
}

.section-1 {
  background-image: url(/static/svgs/number1.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 200px;
  min-height: 80vh;
}
.section-2 {
  background-image: url(/static/svgs/number2.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 315px;
  min-height: 80vh;
}
.section-3 {
  background-image: url(/static/svgs/number3.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 320px;
  min-height: 80vh;
}
.section-4 {
  background-image: url(/static/svgs/number4.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 320px;
  min-height: 80vh;
}
.section-5 {
  background-image: url(/static/svgs/number5.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 320px;
  min-height: 80vh;
}
.section-6 {
  background-image: url(/static/svgs/number6.svg);
  background-repeat: no-repeat;
  background-position: 8vw 50%;
  background-size: 320px;
  min-height: 80vh;
}
.section1-top-left,
.section2-top-left,
.section3-top-left,
.section4-top-left,
.section5-top-left,
.section6-top-left {
  align-self: center;
  padding-left: 10vw;
}

.section1-top-left {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.section1-top-left h2 {
  padding-left: 4rem;
}
// .section1-bottom-left,
// .section2-bottom-left,
// .section3-bottom-left,
// .section4-bottom-left,
// .section5-bottom-left,
// .section6-bottom-left {
//   // height: 50vh;
// }
// .section1-top-right,
// .section2-top-right,
// .section3-top-right,
// .section4-top-right,
// .section5-top-right,
// .section6-top-right {
//   // height: 10vh;
// }
.section1-bottom-right,
.section2-bottom-right,
.section3-bottom-right,
.section4-bottom-right,
.section6-bottom-right {
  // height: 90vh;
  // margin-top: -40vh;
  align-self: center;
  justify-self: center;
}
.section1-bottom-right {
  padding-top: 2rem;
}

/*-------making it responsive-----------*/
@media only screen and (max-width: 650px) {
  .sections-main section {
    display: flex;
    // grid-template-columns: 1fr;
    flex-direction: column;
  }
  .section2-bottom-left,
  .section3-bottom-left,
  .section4-bottom-left,
  .section5-bottom-left,
  .section6-bottom-left {
    display: none;
  }
  .section1-bottom-left {
    // margin-top: -30vh;
  }
  .section1-bottom-right {
    // margin-top: -35vh;
  }

  .section2-bottom-right,
  .section3-bottom-right,
  .section4-bottom-right,
  .section6-bottom-right,
  .section5-bottom-right {
    // margin-top: -20vh;
  }
}

@media only screen and (max-width: 550px) {
  .section2-bottom-right,
  .section3-bottom-right,
  .section4-bottom-right,
  .section6-bottom-right,
  .section5-bottom-right {
    // margin-top: -30vh;
  }
  .section1-bottom-right {
    // margin-top: -35vh;
  }
}
@media only screen and (max-width: 450px) {
  .sections-main section {
    // height: 130vh;
  }
  .section1-bottom-right {
    // margin-top: -30vh;
  }
  .section2-bottom-right,
  .section3-bottom-right,
  .section4-bottom-right,
  .section6-bottom-right,
  .section5-bottom-right {
    // margin-top: -40vh;
  }
}

/*-----font styling for section------*/
.sections-main h2 {
  font-family: GT Walsheim Pro;
  font-weight: 700;
  font-style: normal;
  color: $text-color;
  font-size: 3.5em;
}
.sections-main p {
  font-family: GT Walsheim Pro;
  font-weight: 400;
  font-style: normal;
  color: $text-color;
  font-size: 1em;
}
.sections-main h3 {
  font-family: GT Walsheim Pro;
  font-weight: 700;
  font-style: normal;
  color: $text-color;
  font-size: 1.5em;
}

.section2-bottom-right p,
.section3-bottom-right p,
.section4-bottom-right p,
.section5-bottom-right p,
.section6-bottom-right p,
.section1-bottom-left p {
  padding: 1vw 5vw 1vw 8vw;
}
/*----------modal styling for sections--------*/
#modal-bg {
  position: absolute;
  top: 5;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  opacity: 0.5;
  z-index: 1000;
}
#modal-bg.hide {
  display: none;
}
#modal-container {
  display: flex;
  position: absolute;
  top: 5;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
#modal-container.hide {
  display: none;
}
#modal-container #modal {
  width: 70%;
  height: 90vh;
  background-color: $text-color;
  overflow: hidden;
}
#modal-container #modal p {
  color: $highlight-color;
  font-size: 1em;
  cursor: pointer;
}
#modal-container #modal .modal-text {
  margin: 5vh;
}
#modal-container #modal .close {
  margin: 1em;
  cursor: pointer;
  font-size: 1em;
  color: $highlight-color;
  background: opacity($color: #00000000);
  border: none;
}
#modal-container #modal .close:hover {
  opacity: 0.8;
}
/*--------template styling------*/
.benefit {
  margin-left: 3vh;
}
.benefit:hover {
  text-decoration: underline;
  cursor: pointer;
}
.benefit-img img {
  width: 5vh;
}
.benefit-img {
  display: flex;
  padding: 5vh 0vh 1vh 8vh;
}
@media only screen and (min-width: 1000px) {
  #modal-container #modal {
    height: 52vh;
    width: 50%;
  }
  #text-sections {
    .section-1 {
      padding-top: 5vw;
    }
  }
}
