@use 'partials/vars';
label {
  cursor: pointer;
  margin-bottom: 2vw;
}
input {
  height: 4vw;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  border: none;
}
fieldset label,
fieldset input {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
button {
  all: initial;
  // display: block;
  cursor: pointer;
}
#form-container2 {
  position: absolute;
  // left: 65vw;
  // top: 11vw;
  top: 90px;
  left: 65.5vw;
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  width: 400px;
  height: auto;
  padding: 20px;
  button.back2 {
    color: vars.$bg-color;
    font-family: vars.$regular-font;
    padding: 4vw 0 0 1vw;
    font-weight: 400;
    cursor: pointer;
  }
  button#submit2 {
    font-family: vars.$bold-font;
    background-color: vars.$highlight-color;
    text-transform: uppercase;
    text-align: center;
    width: 58vw;
    height: 13vw;
    padding: 0.8vw;
    align-self: center;
    font-weight: 700;
  }
}

.invalid {
  border: 2px solid vars.$highlight-color;
}

input + p {
  display: none;
  color: vars.$highlight-color;
}

input.invalid + p {
  display: block;
  font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
  #form-container2 {
    left: 65.5vw;
    top: 11vw;
    button#submit2 {
      height: 1.5vw;
      width: 13vw;
    }
    button.back2 {
      padding: 2vw 0 0 1vw;
    }
  }
  #welcomeback {
    p.welcomeback_text {
      margin-top: 14vw;
      font-size: 2.5vw;
    }
  }

  fieldset {
    margin: 1vw;
  }
  label {
    margin-bottom: 1vw;
  }
  input {
    height: 2vw;
  }
  input.invalid2 + p {
    font-size: 0.8vw;
  }
}
